<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 header">
            <h3>PAR Platinum Compliance</h3>
        </div>
        
        <div class="ui-g-12 text-align--center">
            <button pButton type="button" label="PAR Employee Compilance"></button>
            <button pButton type="button" label="Vendor Compilance" routerLink="/vendor-search"></button>
        </div>

      <div class="ui-g-12">
        <router-outlet></router-outlet>
      </div>
     
    </div>
</div>
